{% extends 'base.html.twig' %}

{% block body %}

    <header id="home">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner">
                <div class="item active">

                    <div class="caption">
                        <div class="mailsend">
                            {% for flash_message in app.session.flashBag.get('notice') %}
                                <div class="container">
                                    <div id="alert_message" class="alert alert-success">
                                        <span class="close" data-dismiss="alert">×</span>
                                        {{ flash_message }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <h1 class="animated fadeInLeftBig">Anthony <span>MENET</span></h1>
                        <h2 class="animated fadeInRightBig"><span>Développeur</span> web</h2>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Bienvenue</a>
                    </div>
                </div>

            </div>

            <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

        </div><!--/#home-slider-->




        <div class="main-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home">
                        <h1 class="name">ANTHONY MENET</h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Accueil</a></li>
                        <li class="scroll"><a href="#services">Services</a></li>
                        <li class="scroll"><a href="#about-us">Compétences</a></li>
                        <li class="scroll"><a href="#portfolio">Portfolio</a></li>
                        {#<li class="scroll"><a href="#pricing">Tarifs</a></li>#}
                        <!--<li class="scroll"><a href="#blog">Blog</a></li>-->
                        {#<li class="scroll"><a href="#contact">Contact</a></li>#}
                    </ul>
                </div>
            </div>
        </div><!--/#main-nav-->
    </header><!--/#home-->

    <section id="services">
        <div class="container">
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row">
                    <div class="text-center col-sm-8 col-sm-offset-2">
                        <h2>Services</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>-->
                    </div>
                </div>
            </div>
            <div class="text-center our-services">
                <div class="row">
                    {% for service in services %}
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">

                            <div class="service-icon">
                                <i class="fa {{ service.icone }}"></i>
                            </div>
                            <div class="service-info">
                                <h3>{{ service.titre }}</h3>
                                <p>{{ service.text }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section><!--/#services-->

    <section id="about-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2>Compétences</h2>
                        {% for about in abouts %}
                            <p>
                                {{ about.presentation }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        {% for skill in skills %}

                            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <p class="lead">{{ skill.nom }}</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="{{ skill.valeur }}">{{ skill.valeur }}%</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#about-us-->

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Portfolio</h2>
                    <p>Voici quelques-uns des sites que j'ai conçus et développés</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">

                {% for portfolio in portfolios|reverse %}


                    <div class="col-sm-4">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="folio-image">
                                {% for image in portfolio.image.urls %}
                                    <img class="img-responsive" src="{{ asset('uploads/images/') }}{{ image }}" alt="">
                                {% endfor %}
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>{{ portfolio.titre }}</h3>
                                            <p>{{ portfolio.description }}</p>
                                        </div>
                                        <div class="folio-overview">
                                            <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="{{ path('portfolio_single', { 'id': portfolio.id }) }}"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
            <div id="portfolio-single-wrap">
                <div id="portfolio-single">
                </div>
            </div><!-- /#portfolio-single-wrap -->
        </div>
    </section><!--/#portfolio-->

    {#<section id="features">#}
    {#<div class="container">#}
    {#<div class="row count">#}
    {#<div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">#}
    {#<h2>J'utilise </h2>#}
    {#</div>#}
    {#<div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">#}
    {#<img src="{{ asset('bundles/site/images/symfony.png') }}" alt="Symfony" data-toggle="tooltip" data-placement="bottom" title="Symfony">#}
    {#</div>#}
    {#<div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">#}
    {#<img src="{{ asset('bundles/site/images/bootstrap.png') }}" alt="Bootstrap" data-toggle="tooltip" data-placement="bottom" title="Bootstrap">#}
    {#</div>#}
    {#<div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">#}
    {#<img src="{{ asset('bundles/site/images/jquery.png') }}" alt="Jquery" data-toggle="tooltip" data-placement="bottom" title="Jquery">#}
    {#</div>#}
    {#<div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">#}
    {#<img src="{{ asset('bundles/site/images/html.png') }}" alt="HTML 5" data-toggle="tooltip" data-placement="bottom" title="HTML 5">#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}

    {#<section id="pricing">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">#}
    {#<h2>Tarifs</h2>#}
    {#<p>Voici un aperçu des tarifs proposés, si vous souhaitez plus d'informations concernant votre projet, contactez-moi.</p>#}
    {#<p>Tous les packs incluent le nom de domaine + l'hébergement du site.</p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="pricing-table">#}
    {#<div class="row">#}
    {#{% for tarif in tarifs %}#}
    {#<div class="col-sm-4">#}
    {#<div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">#}
    {#<h3>{{ tarif.nom }}</h3>#}
    {#<div class="price">#}
    {#{{ tarif.prix }}#}
    {#</div>#}
    {#<hr>#}
    {#<ul>#}
    {#<li>{{ tarif.option1 }}</li>#}
    {#<li>{{ tarif.option2 }}</li>#}
    {#<li>{{ tarif.option3 }}</li>#}
    {#<li>{{ tarif.option4 }}</li>#}
    {#</ul>#}
    {#<a href="#" class="btn btn-lg btn-primary">Contactez-moi</a>#}
    {#</div>#}
    {#</div>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}

    {#<section id="contact">#}
        {#<div id="contact-us" class="parallax">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">#}
                        {#<h2>Contact</h2>#}
                        {#<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>-->#}
                    {#</div>#}
                {#</div>#}

                {#<form class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms" action="{{ path('send_mail') }}" method="post">#}
                    {#<div class="row">#}
                        {#<div class="col-sm-6">#}
                            {#<form id="main-contact-form" name="contact-form" method="post">#}
                                {#<div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">#}
                                    {#<div class="col-sm-6">#}
                                        {#<div class="form-group">#}
                                            {#<input type="text" name="nom" id="last_name" class="form-control" placeholder="Nom/Prénom" required="required">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="col-sm-6">#}
                                        {#<div class="form-group">#}
                                            {#<input type="email" name="mail" class="form-control" placeholder="Adresse email" required="required">#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<input type="text" name="sujet" class="form-control" placeholder="Sujet" required="required">#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<textarea name="message" id="message" class="form-control" rows="4" placeholder="Votre message" required="required"></textarea>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<button type="submit" class="btn-submit" name="action">Envoyer</button>#}
                                {#</div>#}
                            {#</form>#}
                        {#</div>#}
                        {#<div class="col-sm-6">#}
                            {#<div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">#}
                                {#<p>Pour un devis, un renseignement ou un rendez-vous, vous pouvez me joindre via le formulaire de contact ou par téléphone.</p>#}
                                {#<ul class="address">#}
                                    {#<li><i class="fa fa-map-marker"></i> <span> Adresse :</span> 20 Grande Rue - 77940 Esmans </li>#}
                                    {#<li><i class="fa fa-phone"></i> <span> Téléphone :</span> 06.76.28.10.02 </li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</form>#}
                {#</div>#}
            {#</div>#}
    {#</section><!--/#contact-->#}

    <footer id="footer">
        <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="container text-center">
                <div class="social-icons">
                    <ul>
                        <li><a class="envelope" href="mailto:contact@anthony-menet.fr?subject=Contact"><i class="fa fa-envelope"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/in/anthonymenet/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                {% if "now"|date('Y') == 2017 %}
                    <p>© {{ "now"|date("Y") }} Copyright</p>
                {% else %}
                    <p>© 2017 - {{ "now"|date("Y") }} Copyright</p>
                {% endif %}
            </div>
        </div>
    </footer>

{% endblock %}