<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        .contenu {
            margin-top: 25px;
            font-size: 15px;
            text-align: center;
        }
        blockquote {
            margin-top: 15px;
            padding: 15px;
            border: 1px solid dimgrey;
            border-radius: 15px;
        }
        .message {
            text-align: justify;
        }
    </style>
</head>


{% block body %}



    <div class="contenu">
        <p>Ceci est une copie du mail que vous venez d'envoyer à  <strong>Anthony MENET</strong></p>

        <blockquote>
        <p>Une demande de contact a été envoyée par {{ nom }} le {{ "now" | date("d-m-Y") }}</p>

        <p><strong>Adresse mail de l'utilisateur</strong>: {{ mail }}</p>
        <p><strong>Sujet</strong> : {{ sujet }}</p>
        <p><strong>Message</strong> :</p>
            <div class="message">
                {{ message }}
            </div>

        </blockquote>
    </div>

{% endblock body %}
</html>
