<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Développeur web freelance Ile de France (77 - Seine et Marne)" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <title>{% block title %}Anthony MENET | Développeur Web{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/site/css/style.css') }}" rel="stylesheet">

            <script src="{{ asset('bundles/site/js/html5shiv.min.js') }}"></script>
            <script src="{{ asset('bundles/site/js/respond.min.js') }}"></script>


            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
            <link rel="shortcut icon" href="images/favicon.ico">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107708664-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-107708664-1');
        </script>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/site/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/site/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/site/js/main.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/site/js/jquery.inview.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/site/js/wow.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/site/js/mousescroll.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/site/js/smoothscroll.min.js') }}"></script>
            {#<script type="text/javascript" src="{{ asset('bundles/site/js/jquery.countTo.min.js') }}"></script>#}
            <script type="text/javascript" src="{{ asset('bundles/site/js/lightbox.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
