<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
        {% for image in portfolio.image.urls %}
		<img class="img-responsive" src="{{ asset('uploads/images/') }}{{ image }}" alt="">
        {% endfor %}
		<div class="row">
			<div class="col-sm-12">
				<div class="project-info">
					<h3>{{ portfolio.titre }}</h3>
					<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
					<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>-->
				</div>
				<div class="project-details">
					<p><span>Client: </span>{{ portfolio.typeclient }}</p>
					<p><span>Date: </span>{{ portfolio.date|date("m/Y") }}</p>
					<p><span>Technologies: </span>{{ portfolio.technoutilisees }}</p>
					<p><span>URL: </span> <a href="{{ portfolio.url }}" target="_blank">{{ portfolio.url }}</a></p>
				</div>
			</div>
		</div>
	</div>
</div>