{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="admin">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('site_admin') }}">Admin</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <h1>Tarifs list</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Option1</th>
                <th>Option2</th>
                <th>Option3</th>
                <th>Option4</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for tarif in tarifs %}
                <tr>
                    <td><a href="{{ path('tarifs_show', { 'id': tarif.id }) }}">{{ tarif.id }}</a></td>
                    <td>{{ tarif.nom }}</td>
                    <td>{{ tarif.prix }}</td>
                    <td>{{ tarif.option1 }}</td>
                    <td>{{ tarif.option2 }}</td>
                    <td>{{ tarif.option3 }}</td>
                    <td>{{ tarif.option4 }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('tarifs_show', { 'id': tarif.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('tarifs_edit', { 'id': tarif.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('tarifs_new') }}">Create a new tarif</a>
            </li>
        </ul>
    </div>
{% endblock %}
