{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarif</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarif.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tarif.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ tarif.prix }}</td>
            </tr>
            <tr>
                <th>Option1</th>
                <td>{{ tarif.option1 }}</td>
            </tr>
            <tr>
                <th>Option2</th>
                <td>{{ tarif.option2 }}</td>
            </tr>
            <tr>
                <th>Option3</th>
                <td>{{ tarif.option3 }}</td>
            </tr>
            <tr>
                <th>Option4</th>
                <td>{{ tarif.option4 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarifs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tarifs_edit', { 'id': tarif.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
