{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="admin">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('site_admin') }}">Admin</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <h1>Abouts list</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Presentation</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for about in abouts %}
                <tr>
                    <td><a href="{{ path('about_show', { 'id': about.id }) }}">{{ about.id }}</a></td>
                    <td>{{ about.presentation }}</td>

                    <td>

                        <a class="btn btn-default" href="{{ path('about_show', { 'id': about.id }) }}">Voir</a>

                        <a class="btn btn-default" href="{{ path('about_edit', { 'id': about.id }) }}">Editer</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <a class="btn btn-default" href="{{ path('about_new') }}">Nouveau</a>

    </div>
{% endblock %}
