{% extends 'base.html.twig' %}

{% block body %}
<div class="container" id="admin">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('site_admin') }}">Admin</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <h1>About creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Créer" />
    {{ form_end(form) }}


            <a class="btn btn-default" href="{{ path('about_index') }}">Retour</a>

</div>
{% endblock %}
