{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="admin">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('site_admin') }}">Admin</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <h1>About</h1>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ about.id }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ about.presentation }}</td>
            </tr>

            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('about_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('about_edit', { 'id': about.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
