{% extends 'base.html.twig' %}

{% block body %}


    <div class="container" id="admin">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Admin</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div class="row">
            <div class="col-xs-6">
                <a href="{{ path('about_index') }}" class="btn btn-primary btn-lg btn-block" role="button">A-propos</a>

                <a href="{{ path('skills_index') }}" class="btn btn-primary btn-lg btn-block" role="button">Skills</a>

            </div>
            <div class="col-xs-6">
                <a href="{{ path('services_index') }}" class="btn btn-primary btn-lg btn-block" role="button">Services</a>

                <a href="{{ path('portfolio_index') }}" class="btn btn-primary btn-lg btn-block" role="button">Portfolio</a>
            </div>
        </div>




    </div>
{% endblock %}