{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="admin">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('site_admin') }}">Admin</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <h1>Portfolios list</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Type de client</th>
                <th>Date</th>
                <th>Technos utilisées</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for portfolio in portfolios %}
                <tr>
                    <td><a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}">{{ portfolio.id }}</a></td>
                    <td>{{ portfolio.titre }}</td>
                    <td>{{ portfolio.description }}</td>
                    <td>{{ portfolio.typeClient }}</td>
                    <td>{% if portfolio.date %}{{ portfolio.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ portfolio.technoUtilisees }}</td>
                    <td>{{ portfolio.url }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}">Voir</a>
                            </li>
                            <li>
                                <a href="{{ path('portfolio_edit', { 'id': portfolio.id }) }}">Editer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('portfolio_new') }}">Nouveau</a>
            </li>
        </ul>
    </div>
{% endblock %}
