{% extends 'base.html.twig' %}

{% block body %}
    <h1>Portfolio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portfolio.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ portfolio.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ portfolio.description }}</td>
            </tr>
            <tr>
                <th>Typeclient</th>
                <td>{{ portfolio.typeClient }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if portfolio.date %}{{ portfolio.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Technoutilisees</th>
                <td>{{ portfolio.technoUtilisees }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ portfolio.url }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('portfolio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('portfolio_edit', { 'id': portfolio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
