{% extends 'base.html.twig' %}

{% block body %}
<div class="container" id="admin">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('site_admin') }}">Admin</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <h1>Services list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('services_show', { 'id': service.id }) }}">{{ service.id }}</a></td>
                <td>{{ service.titre }}</td>
                <td>{{ service.text }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('services_show', { 'id': service.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('services_edit', { 'id': service.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('services_new') }}">Create a new service</a>
        </li>
    </ul>
</div>
{% endblock %}
