{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {% block fos_user_content %}
            {{ include('@FOSUser/Security/login_content.html.twig') }}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
